<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<!--@thymesVar id="videos" type="List<Video>"-->
<!--@thymesVar id="v" type="Video"-->
<div th:each="v : ${videos}">
    <div>
        <b th:text="${v.id}">ID</b> -
        <span th:text="${v.title}">Title</span>
        <span th:date="${v.publishDate}">Publish Date</span>
        <span th:text="${v.description}">Description</span>
        <span th:text="${v.duration}">Duration</span>
        <span th:text="${v.link}">Link</span>
    </div>
</div>
</body>
</html>